html {
  font-size: 16px;
  background-color: #c4c4ff; }

body {
  margin: 0;
  padding: 0; }

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url("./flatSpace.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .App-joy__wrapper {
    display: flex; }
  .App-joy__val {
    padding: 10px;
    width: 8ch;
    text-align: left;
    border: 1px solid #AAF;
    border-radius: 5px;
    margin: 0 10px; }
